<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Title</th>
    <th scope="col">Year</th>
    <th scope="col">Poster</th>
  </tr>
  </thead>
  <tbody>
  <% @result.each_with_index do |res, i| %>
    <tr>
      <th scope="row"><%= i+1 %></th>
      <td><%= res.title %></td>
      <td><%= res.year %></td>
      <td><%= image_tag res.poster, size: '80x80' if res.poster != 'N/A' %></td>
    </tr>
  <% end %>
  </tbody>
</table>